@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Kode Mono", "italic";
}

body {
   width: auto;
   height: 1000px;
   text-align: center;
}

.fundo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-color: #47a6f0;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 1000px;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 3em;
    background-color: #1f1f1f;
}

.cabecalho {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho a {
    color: white;
    font-size: 15px;

}

.cabecalho a:hover {
    color: #0c9eff;
    transition: 0.1s all;
}

#imagem {

    height: 140px;
    width: 140px;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

img {
    border-radius: 50%;
}

button {
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    width: 158px;
    cursor: pointer;
}

button:hover {
    background-color: #0c9eff;
    color: #fff;
    transition-delay: 0.01s;
}

.container-text {
    padding: 150px 0 0 130px;
}

.text h3 {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.text h1 {
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
}

.text span {
    color: #2ecc71;
}

.text p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.redes a {
    color: #2ecc71;
    padding: 10px;
    margin-top: 12spx;

}

.btn {
    margin-top: 10px;
}

#sobre{
    display: flex;
    overflow: visible;
}

.content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}
.content-main .project {
    width: 700px;
    background-color: #1f1f1f;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 20px;
    color: white; 
}
.content-main .project div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}

.content-main .project .date-create {
    color: #8b949e; 
    background-color: rgba(139, 148, 158, 0.1);
    border-radius: 20px;
    padding: 5px 10px; 
    font-size: 0.9rem; 
}

.content-main .project .title {
    color: #2ecc71;
    font-size: 1.2rem;
}

.content-main .project .language .circle {
    background-color: #47a6f0; 
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #30363d;
    border-radius: 50%;
}

.img-port {
    width: calc(33.33% - 20px);
    margin: 10px;
    height: 260px;
    background-color: rgb(1, 55, 116);
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 40px;
    transition: 8s;
    cursor: pointer;
    position: relative;
    float: left;
    box-sizing: border-box;
}

